@layer base {
    :root {
        --love: hsla(58, 100%, 60%, 1);
        --inspo: orange;
        --self: skyblue;
        --ego: hsla(0, 100%, 40%, 1);
        --home: hsla(142, 100%, 37%, 1);
        --earth: hsla(37, 100%, 32%, 1);
        --base: slategrey;
        --bottom: 1px solid black;
        --dark: black;

        --underline: underline wavy var(--ego) 2px;
        --regular: 1px black solid;

        --boundaryBox: solid black 2px;
    }

    * {
        box-sizing: border-box;
    }
}

@layer text {
    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        background-color: var(--base);
        color: var(--self);
        font-size: 2rem;
    }

    h1,
    h2 {
        margin: 0;
        padding: 0.5rem;
        color: var(--dark);
        background: var(--home);
    }

    p {
        padding: 0.5rem;
        color: var(--inspo);
    }

    .desc {
        color: var(--ego);
        background: var(--love);
        text-align: right;
    }
}

@layer list {
    dl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        padding: 0.5rem;
    }

    dt {
        grid-column-start: 1;
        border-top: var(--regular);
        border-bottom: var(--regular);
        border-left: var(--regular);
        padding: 0.3rem;
    }

    div {
        grid-column-start: 2;
        padding: 0.3rem;
    }
}

@layer interaction {
    .selected {
        border: 2px var(--love) solid;
        text-decoration: var(--underline);
    }

    .hidden {
        display: none;
    }
}

@layer buttons {
    .selectors {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .selectors button {
        border: none;
        padding: 1rem;
        margin: 2rem;
        font: inherit;
    }
}
