@layer base {
    :root {
        --love: hsla(58, 100%, 60%, 1);
        --inspo: orange;
        --self: skyblue;
        --ego: hsla(0, 100%, 40%, 1);
        --home: hsla(142, 100%, 37%, 1);
        --earth: hsla(37, 100%, 32%, 1);
        --base: slategrey;
        --bottom: 1px solid black;
        --dark: black;

        --underline: underline wavy var(--ego) 2px;
        --regular: 1px black solid;

        --boundaryBox: solid black 2px;
    }

    * {
        box-sizing: border-box;
    }
}

@layer text {
    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        background-color: var(--base);
        border: dashed red;
        color: var(--self);
        font-size: 2rem;
        height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    h1,
    h2 {
        margin: 0 0 3rem 0;
        padding: 0.5rem;
        color: var(--dark);
        background: var(--home);
    }

    p {
        padding: 0;
        margin: 0;
        color: var(--ego);
    }

    .desc {
        padding: 0.5rem;
        color: var(--ego);
        background: var(--love);
        text-align: right;
    }
}

@layer interaction {
    .selected {
        border: 2px var(--love) solid;
        text-decoration: var(--underline);
    }

    .hidden {
        display: none;
    }

    .item {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@layer buttons {
    .selectors,
    .tracks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .tracks {
        grid-template-columns: repeat(3, 1fr);
    }

    button {
        border: none;
        padding: 1rem;
        margin: 1rem;
        font: inherit;
        box-shadow: 0px 10px 5px black;
        transition-duration: 0.1s;
        transition-property: transform, box-shadow;
        transition-delay: 0s, 0.3s;
    }

    button:active {
        transform: translateY(10%);
    }

    .clicked {
        box-shadow: 0px 10px 5px red;
    }
}
@layer controls {
    .controller {
        max-height: 50vh;
        overflow-y: scroll;
    }
}
@layer player {
    .player {
        display: flex;
        justify-content: center;
    }
    audio {
        width: 50vw;
    }
}

@layer footer {
    footer {
    }
    .footer {
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin-top: auto;
    }
    footer div {
        height: 3rem;
        width: 3rem;
    }

    .love {
        background-color: var(--love);
    }
    .inspo {
        background-color: var(--inspo);
    }
    .self {
        background-color: var(--self);
    }
    .ego {
        background-color: var(--ego);
    }
    .home {
        background-color: var(--home);
    }
}
