@layer base {
    :root {
        --love: hsla(58, 100%, 60%, 1);
        --inspo: orange;
        --self: skyblue;
        --ego: hsla(0, 100%, 40%, 1);
        --home: hsla(142, 100%, 37%, 1);
        --earth: hsla(37, 100%, 32%, 1);
        --base: slategrey;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        background-color: var(--base);
        color: var(--self);
        font-size: 2rem;
    }

    h1 {
        background: var(--home);
        margin: 0;
        padding-left: 1rem;
    }

    h2 {
        margin: 0;
        padding: 0;
    }

    nav {
        background-color: var(--self);
    }
    button {
        font-size: 3rem;
        padding: 0.5rem;
        border: none;
    }

    span {
        padding: 0.5rem;
    }

    p {
        color: black;
        margin: 0.3rem 0 0 1rem;
        padding: 0.5rem;
        line-height: 2rem;
    }

    .center {
        text-align: center;
    }
}

@layer gameBoard {
    .mode {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .board {
        display: grid;
        grid-template-areas:
            "fire fire fire"
            "rock paper scissors"
            "water water water";
        align-items: center;
        justify-content: center;
    }

    .love {
        background-color: var(--love);
        grid-area: fire;
    }
    .inspo {
        background-color: var(--inspo);
    }
    .self {
        background-color: var(--self);
        color: var(--ego);
    }
    .ego {
        background-color: var(--ego);
        grid-area: water;
    }
    .home {
        background-color: var(--home);
    }
    .earth {
        background-color: var(--earth);
    }
}

@layer ui {
    .hidden {
        display: none;
    }

    .under {
        text-decoration: underline;
    }
}
