@layer base {
    :root {
        --loveYellow: hsla(58, 100%, 60%, 1);
        --inspoOrange: orange;
        --selfBlue: skyblue;
        --egoRed: hsla(0, 100%, 40%, 1);
        --homeGreen: hsla(142, 100%, 37%, 1);
        --earthBrown: hsla(37, 100%, 32%, 1);
        --baseGrey: slategrey;

        * {
            box-sizing: border-box;
        }
    }
}

@layer body {
    body {
        margin: 0;
        padding: 1rem;
        font-family: Helvetica, sans-serif;
        background-color: var(--baseGrey);
        color: var(--selfBlue);
        font-size: 2rem;
    }

    .center {
        text-align: center;
    }

    section {
        color: black;
        border: 5px dashed black;
        text-align: center;
        margin-top: 2rem;
    }

    a,
    a:any-link {
        color: inherit;
        font-size: inherit;
        text-decoration: underline wavy var(--inspoOrange) 2px;
    }
}

@layer palette {
    .love {
        background-color: var(--loveYellow);
    }

    .inspo {
        background-color: var(--inspoOrange);
    }
    .self {
        background-color: var(--selfBlue);
    }
    .ego {
        background-color: var(--egoRed);
    }
    .home {
        background-color: var(--homeGreen);
    }
    .earth {
        background-color: var(--earthBrown);
    }
    .base {
        background-color: var(--baseGrey);
    }
}

@layer lists {
    ul {
        list-style: "🦌" inside;
    }

    ol {
        list-style: lower-roman inside;
    }
}

@layer buttons {
    button {
        font: inherit;
        border-radius: 10px;
        padding: 0.5rem;
        box-shadow: 0 10px 5px black;
        transition: box-shadow 0.2s 0.3s;
    }

    .clicked {
        box-shadow: 0 10px 5px var(--egoRed);
    }
}

@layer footer {
    footer {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    footer div {
        height: 3rem;
        width: 3rem;
    }
}
